html {
  text-align: center;
}

input[type='checkbox'] {
    -webkit-appearance:none;
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
}
input[type='checkbox']:checked {
    background: #888;
}

/*grid for tracks----------------------------------*/

.container {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "image text chekbox";
  grid-template-columns: 120px 420px 60px;
  grid-template-rows: 120px;
  background: #ccc;
  justify-content: center;
}
.container > div {
  border: 1.5px solid #000;
}

.image {
  grid-area: image;
}
.text {
  grid-area: text;
}
.chekbox {
  grid-area: checkbox;
}
.container2 {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "song"
  "comment";
  grid-template-columns: 420px;
  grid-template-rows: 78px 38px;
  justify-content: center;
}
.container2 > div {
  border: 1px dashed #888;
}

.centerItem{
	text-align: center;
	vertical-align: middle;
	line-height: 120px;
}

.song {
  grid-area: song;
}
.comment {
  grid-area: comment;
}

/*grid for users----------------------------------*/
.containerUser {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-areas: "image chekbox";
  grid-template-columns: 120px 80px;
  grid-template-rows: 120px;
  justify-content: center;
  background: #ccc;
  margin: auto;
  max-width: 200px


}
.containerUser > div {
 border: 1.5px solid #000;
}

.image {
  grid-area: image;
}
.chekbox {
  grid-area: chekbox;
  text-align: center;
  vertical-align: middle;
}

/*navigation bar http://css-snippets.com/simple-horizontal-navigation/*/

body {
  	margin: 0;
  	padding: 0;
  	max-width: 600px;
   	margin: auto;
  	background: #000;
}

.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
.nav a:hover {
  background-color: #005f5f;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 00px) {
  .nav li {
    width: 100px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }

}
